
 .yf,  .y-fill  { height: 100%                 }
 .xf,  .x-fill  { width: 100%                  }
 .xyf, .fill    { width: 100%; height: 100%;   }
 .zf,  .z-fill  { height: 100vh; width: 100vw; }
 .x1  { width: 0.5em   }
 .x2  { width: 1em   }
 .x3  { width: 1.5em }
 .x4  { width: 2em  }
 .x5  { width: 2.5em  }
 .x6  { width: 3em   }
 .x7  { width: 3.5em }
 .x8  { width: 4em }
 .y1  { height: 0.5em   }
 .y2  { height: 1em   }
 .y3  { height: 1.5em }
 .y4  { height: 2em  }
 .y5  { height: 2.5em  }
 .y6  { height: 3em   }
 .y7  { height: 3.5em }
 .y8  { height: 4em }
 .x1-min  { min-width: 0.5em   }
 .x2-min  { min-width: 1em   }
 .x3-min  { min-width: 1.5em }
 .x4-min  { min-width: 2em  }
 .x5-min  { min-width: 2.5em  }
 .x6-min  { min-width: 3em   }
 .x7-min  { min-width: 3.5em }
 .x8-min  { min-width: 4em }
 .y1-min  { min-height: 0.5em   }
 .y2-min  { min-height: 1em   }
 .y3-min  { min-height: 1.5em }
 .y4-min  { min-height: 2em  }
 .y5-min  { min-height: 2.5em  }
 .y6-min  { min-height: 3em   }
 .y7-min  { min-height: 3.5em }
 .y8-min  { min-height: 4em }
 .x1-max  { max-width: 0.5em   }
 .x2-max  { max-width: 1em   }
 .x3-max  { max-width: 1.5em }
 .x4-max  { max-width: 2em  }
 .x5-max  { max-width: 2.5em  }
 .x6-max  { max-width: 3em   }
 .x7-max  { max-width: 3.5em }
 .x8-max  { max-width: 4em }
 .y1-max  { max-height: 0.5em   }
 .y2-max  { max-height: 1em   }
 .y3-max  { max-height: 1.5em }
 .y4-max  { max-height: 2em  }
 .y5-max  { max-height: 2.5em  }
 .y6-max  { max-height: 3em   }
 .y7-max  { max-height: 3.5em }
 .y8-max  { max-height: 4em }
 @media (min-width: 40em) {  

 .sm-yf,  .sm-y-fill  { height: 100%                 }
 .sm-xf,  .sm-x-fill  { width: 100%                  }
 .sm-xyf, .sm-fill    { width: 100%; height: 100%;   }
 .sm-zf,  .sm-z-fill  { height: 100vh; width: 100vw; }

 .sm-x1  { width: 0.5em   }
 .sm-x2  { width: 1em   }
 .sm-x3  { width: 1.5em }
 .sm-x4  { width: 2em  }
 .sm-x5  { width: 2.5em  }
 .sm-x6  { width: 3em   }
 .sm-x7  { width: 3.5em }
 .sm-x8  { width: 4em }

 .sm-y1  { height: 0.5em   }
 .sm-y2  { height: 1em   }
 .sm-y3  { height: 1.5em }
 .sm-y4  { height: 2em  }
 .sm-y5  { height: 2.5em  }
 .sm-y6  { height: 3em   }
 .sm-y7  { height: 3.5em }
 .sm-y8  { height: 4em }

 .sm-x1-min  { min-width: 0.5em   }
 .sm-x2-min  { min-width: 1em   }
 .sm-x3-min  { min-width: 1.5em }
 .sm-x4-min  { min-width: 2em  }
 .sm-x5-min  { min-width: 2.5em  }
 .sm-x6-min  { min-width: 3em   }
 .sm-x7-min  { min-width: 3.5em }
 .sm-x8-min  { min-width: 4em }

 .sm-y1-min  { min-height: 0.5em   }
 .sm-y2-min  { min-height: 1em   }
 .sm-y3-min  { min-height: 1.5em }
 .sm-y4-min  { min-height: 2em  }
 .sm-y5-min  { min-height: 2.5em  }
 .sm-y6-min  { min-height: 3em   }
 .sm-y7-min  { min-height: 3.5em }
 .sm-y8-min  { min-height: 4em }

 .sm-x1-max  { max-width: 0.5em   }
 .sm-x2-max  { max-width: 1em   }
 .sm-x3-max  { max-width: 1.5em }
 .sm-x4-max  { max-width: 2em  }
 .sm-x5-max  { max-width: 2.5em  }
 .sm-x6-max  { max-width: 3em   }
 .sm-x7-max  { max-width: 3.5em }
 .sm-x8-max  { max-width: 4em }

 .sm-y1-max  { max-height: 0.5em   }
 .sm-y2-max  { max-height: 1em   }
 .sm-y3-max  { max-height: 1.5em }
 .sm-y4-max  { max-height: 2em  }
 .sm-y5-max  { max-height: 2.5em  }
 .sm-y6-max  { max-height: 3em   }
 .sm-y7-max  { max-height: 3.5em }
 .sm-y8-max  { max-height: 4em }

}
 @media(min-width: 52em) {

 .md-yf,  .md-y-fill  { height: 100%                 }
 .md-xf,  .md-x-fill  { width: 100%                  }
 .md-xyf, .md-fill    { width: 100%; height: 100%;   }
 .md-zf,  .md-z-fill  { height: 100vh; width: 100vw; }

 .md-x1  { width: 0.5em   }
 .md-x2  { width: 1em   }
 .md-x3  { width: 1.5em }
 .md-x4  { width: 2em  }
 .md-x5  { width: 2.5em  }
 .md-x6  { width: 3em   }
 .md-x7  { width: 3.5em }
 .md-x8  { width: 4em }
 .md-
 .md-y1  { height: 0.5em   }
 .md-y2  { height: 1em   }
 .md-y3  { height: 1.5em }
 .md-y4  { height: 2em  }
 .md-y5  { height: 2.5em  }
 .md-y6  { height: 3em   }
 .md-y7  { height: 3.5em }
 .md-y8  { height: 4em }

 .md-x1-min  { min-width: 0.5em   }
 .md-x2-min  { min-width: 1em   }
 .md-x3-min  { min-width: 1.5em }
 .md-x4-min  { min-width: 2em  }
 .md-x5-min  { min-width: 2.5em  }
 .md-x6-min  { min-width: 3em   }
 .md-x7-min  { min-width: 3.5em }
 .md-x8-min  { min-width: 4em }

 .md-y1-min  { min-height: 0.5em   }
 .md-y2-min  { min-height: 1em   }
 .md-y3-min  { min-height: 1.5em }
 .md-y4-min  { min-height: 2em  }
 .md-y5-min  { min-height: 2.5em  }
 .md-y6-min  { min-height: 3em   }
 .md-y7-min  { min-height: 3.5em }
 .md-y8-min  { min-height: 4em }

 .md-x1-max  { max-width: 0.5em   }
 .md-x2-max  { max-width: 1em   }
 .md-x3-max  { max-width: 1.5em }
 .md-x4-max  { max-width: 2em  }
 .md-x5-max  { max-width: 2.5em  }
 .md-x6-max  { max-width: 3em   }
 .md-x7-max  { max-width: 3.5em }
 .md-x8-max  { max-width: 4em }
 
 .md-y1-max  { max-height: 0.5em   }
 .md-y2-max  { max-height: 1em   }
 .md-y3-max  { max-height: 1.5em }
 .md-y4-max  { max-height: 2em  }
 .md-y5-max  { max-height: 2.5em  }
 .md-y6-max  { max-height: 3em   }
 .md-y7-max  { max-height: 3.5em }
 .md-y8-max  { max-height: 4em }

}
 @media(min-width: 64em) {

 .lg-yf,  .lg-y-fill  { height: 100%                 }
 .lg-xf,  .lg-x-fill  { width: 100%                  }
 .lg-xyf, .lg-fill    { width: 100%; height: 100%;   }
 .lg-zf,  .lg-z-fill  { height: 100vh; width: 100vw; }

 .lg-x1  { width: 0.5em   }
 .lg-x2  { width: 1em   }
 .lg-x3  { width: 1.5em }
 .lg-x4  { width: 2em  }
 .lg-x5  { width: 2.5em  }
 .lg-x6  { width: 3em   }
 .lg-x7  { width: 3.5em }
 .lg-x8  { width: 4em }

 .lg-y1  { height: 0.5em   }
 .lg-y2  { height: 1em   }
 .lg-y3  { height: 1.5em }
 .lg-y4  { height: 2em  }
 .lg-y5  { height: 2.5em  }
 .lg-y6  { height: 3em   }
 .lg-y7  { height: 3.5em }
 .lg-y8  { height: 4em }

 .lg-x1-min  { min-width: 0.5em   }
 .lg-x2-min  { min-width: 1em   }
 .lg-x3-min  { min-width: 1.5em }
 .lg-x4-min  { min-width: 2em  }
 .lg-x5-min  { min-width: 2.5em  }
 .lg-x6-min  { min-width: 3em   }
 .lg-x7-min  { min-width: 3.5em }
 .lg-x8-min  { min-width: 4em }
 
 .lg-y1-min  { min-height: 0.5em   }
 .lg-y2-min  { min-height: 1em   }
 .lg-y3-min  { min-height: 1.5em }
 .lg-y4-min  { min-height: 2em  }
 .lg-y5-min  { min-height: 2.5em  }
 .lg-y6-min  { min-height: 3em   }
 .lg-y7-min  { min-height: 3.5em }
 .lg-y8-min  { min-height: 4em }

 .lg-x1-max  { max-width: 0.5em   }
 .lg-x2-max  { max-width: 1em   }
 .lg-x3-max  { max-width: 1.5em }
 .lg-x4-max  { max-width: 2em  }
 .lg-x5-max  { max-width: 2.5em  }
 .lg-x6-max  { max-width: 3em   }
 .lg-x7-max  { max-width: 3.5em }
 .lg-x8-max  { max-width: 4em }
 
 .lg-y1-max  { max-height: 0.5em   }
 .lg-y2-max  { max-height: 1em   }
 .lg-y3-max  { max-height: 1.5em }
 .lg-y4-max  { max-height: 2em  }
 .lg-y5-max  { max-height: 2.5em  }
 .lg-y6-max  { max-height: 3em   }
 .lg-y7-max  { max-height: 3.5em }
 .lg-y8-max  { max-height: 4em }

}
