@import './lib/space.css';
@import './lib/sm-space.css';
@import './lib/md-space.css';
@import './lib/lg-space.css';

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --space-one:     2.5em;
  --space-two:     5em;
  --space-three:   10em;
  --space-four:    20em;
  --space-five:    40em;
  --space-six:     80em;
  --space-seven:   160em;
  --space-eight:   320em;
}
