@import './lib/space.css';
@import './lib/sm-space.css';
@import './lib/md-space.css';
@import './lib/lg-space.css';

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --space-one:     0.5em;
  --space-two:     1em;
  --space-three:   1.5em;
  --space-four:    2em;
  --space-five:    2.5em;
  --space-six:     3em;
  --space-seven:   3.5em;
  --space-eight:   4em;
}
